<!doctype html>
<html lang="en">
<%- include('head.ejs'); -%>
<body class="main-body">

<%- include('header.ejs'); -%>

<div class="mb-5" style="margin: 30px 5cm 1cm;">
    <div class="row">
        <div class="form-holder">
            <div class="form-profile-content">
                <div class="form-items">
                    <h3>Edit <%= edited_user.username %> </h3>

                    <form id="registration_form" class="requires-validation" novalidate method="post">
                        <div class="col-md-12">
                            <label for="form_name">Username</label>
                            <input class="feedback-input" id="form_name" type="text" name="name" placeholder="Username"
                                   required value="<%= edited_user.username%>">
                            <span class="error_form" id="username_error_message"></span>
                            <div class="col-md-12">
                                <label for="form_email">Email</label>
                                <input class="feedback-input" id="form_email" type="text" name="email"
                                       placeholder="Email" required value="<%= edited_user.email%>">
                                <span class="error_form" id="email_error_message"></span>
                            </div>

                            <br>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" id="btnSubmit" class="btn btn-light">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer.ejs'); -%>

</body>
</html>